

header {
  font-size: 18px;
  margin: 0;
}

header h1,
p {
  text-align: left;
}

header p {
  color: rgb(41, 40, 46);
  margin: 5px 0 20px;
  font-size: 2rem;
}

header nav a {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: rgb(35, 49, 160);

}

header nav a:hover {
  color: rgb(229, 220, 242);
  font-style: bold;
}

header h3 {
  color: rgb(119, 122, 133);
  padding: 40 40 40 40;
  text-align: right;
}

.title {
  text-align: left;
  padding-right: 25%;
}

.home {
  padding-right: 25%;
}
.lead {
  text-align: right;
  padding-left: 25%;
}

.row {
  margin: 2% 2% 2% 2%;
}

.clock {
  padding-right: 1.5%;
  padding-left: 0.5%;
  font-size: 15px;
  color: rgb(35, 49, 160);
}
.time {
  padding: 1% 0 0.5% 0;
  text-align: center;
  border: 1px solid rgb(226, 225, 244);
}

.description {
  padding: 2.5% 30% 2.5% 30%;
  border: 1.5px solid rgb(33, 17, 199);
  box-shadow: 0 0 10px rgb(136, 0, 255);
  background-color:  rgb(216, 211, 211);
}


.saveBtn {
  margin: 0 0 1% 2.5%;
  font-size: 25px;
  color: rgb(75, 84, 154);
  background-color: rgb(211, 211, 211);
  border-radius: 10%;
  border: 2px solid rgb(111, 103, 189);
  box-shadow: 0 0 10px rgb(136, 0, 255);
}

.saveBtn:hover{
  background-color: rgb(93, 99, 143);
  color: white;
}
footer {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(70, 180, 200),
    rgb(70, 150, 200),
    rgb(70, 130, 164),
    rgb(66, 96, 193),
    rgb(50, 67, 138),
    rgb(29, 20, 50)
  );
  color: rgb(28, 20, 74);
  padding: 20px;
  border-top: 1.5px solid rgb(33, 17, 199);
}

footer h2 {
  font-size: 2.4rem;
  text-align: left;
  margin: 0;
}
footer div {
  font-size: 2rem;
  text-align: right;
  color: #7a829a;
}
footer div a {
  font-size: 1.4rem;
  text-align: right;
  color: #7a829a;
}
